APP_NAME=GoBlueBird
APP_ENV=development
PORT=8080

DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=app_db.sqlite
DB_CHARSET=utf8mb4

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME_MIN=5

API_KEY=sample_secret_key_12345
