{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Go Blue Bird Base Template{{end}}</title>
    <link rel="stylesheet" href="/public/css/bluebird.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <h1 class="text-gradient text-xl">
                <a href="/">
                    Go Blue Bird
                </a>
            </h1>
            <div class="flex gap-4">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/api/health" target="_blank" class="badge">API Health</a>
                <a href="/api/info" target="_blank" class="badge">API Info</a>
                <button class="outline" data-toggle="theme"> 🌞/🌙 </button>
            </div>
        </nav>
    </header>

    <main>
        {{template "content" .}}
    </main>

    <footer>
        <p>&copy; 2026 Go Blue Bird Starter Kit. Built with Go & Gin Framework.</p>
    </footer>

    <script src="/public/js/bluebird.js"></script>
</body>

</html>
{{end}}